<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script>
    function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
  </script>
</head>
<body ng-app="BlankApp" ng-cloak ng-controller="CalculatorControllerBase as calculatorController" md-theme="{{theme}}" md-theme-watch="true" >
  <!--
    Your HTML content here
  -->  

  
  <div layout="row" layout-align="center start" >
    <div flex=50 flex-xs=90 flex-offset=25 flex-offset-xs=5 flex-md=80 flex-offset-md=10 layout="column" md-colors="{background: '{{theme}}">  
      
      <md-input-container md-no-float class="md-block" flex = "5">
        <input ng-model="stringEquation" placeholder="0">
      </md-input-container> 
      <md-content layout-padding flex="80" >
        <md-grid-list ng-init="getFunctions()" id="calcButtons"
          md-cols-gt-md="5" md-cols="3" md-cols-md="4"
          md-row-height-gt-md="1:1" md-row-height="4:3"
          md-gutter-gt-md="8px" md-gutter-md="4px" md-gutter="2px">
            <md-grid-tile
              ng-repeat="tile in listOfFunctions">
                <md-button 
                class="md-raised md-accent" 
                ng-click="onClick(tile)" 
                aria-label=xyz >{{tile}}</md-button>
            </md-grid-tile></md-grid-list>
        </md-content>
        <md-button class="md-raised md-primary" flex="10" ng-click="showAdvanced($event,'/panels/workshop.panel.ejs')" ng-controller="DialogController">Get More Functions</md-button>
      </div>
      <!-- Sidenav + Button -->
      <div flex=25 flex-xs=10 flex-md=20>
         <md-button ng-click="toggleRight()"
            ng-hide="isOpenRight()"
            class="md-fab md-primary"
            aria-label="Settings">
            <md-icon md-svg-src="/icon/settings.svg"></md-icon>
        </md-button>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
          <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Settings</h1>
          </md-toolbar>
          <md-content ng-controller="NavControl" layout-padding>
            <md-button ng-click="changeTheme()" class="md-raised md-warn">
              Change Theme
            </md-button>
            <div id="ModuleContainer" layout="column">
              <md-menu md-position-mode="target-right target">
                <md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">Base</md-button>
                <md-menu-content width="6">
                  <md-menu-item ng-repeat="item in [1, 2, 3]">
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <md-menu md-position-mode="target-right target">
                <md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">Basic Physics</md-button>
                <md-menu-content width="6">
                  <md-menu-item ng-repeat="item in [1, 2, 3]">
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <md-menu md-position-mode="target-right target">
                <md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">Aerospace Engineering</md-button>
                <md-menu-content width="6">
                  <md-menu-item ng-repeat="item in [1, 2, 3]">
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              <md-menu md-position-mode="target-right target">
                <md-button class="md-raised md-primary" ng-click="$mdOpenMenu($event)">Scientific</md-button>
                <md-menu-content width="6">
                  <md-menu-item ng-repeat="item in [1, 2, 3]">
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </md-content>
        </md-sidenav>
      </div>
  </div>

 

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>


  <!-- Your application bootstrap  -->
  <script type="text/javascript" src= "../javascripts/calculatorbase.js">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
  </script>
  
</body>
</html>
