<md-dialog aria-label="Aerospace Engineering Module"  ng-cloak ng-cloak ng-controller="DialogController as dialogController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Aerospace Engineering Tools</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Aerospace Engineering Calculations</h2>
        <p>
          Most people consider so-called "rocket science" to be one of the hardest fields of study . Well, not anymore! With the use of this addon you can effortlessly calculate all your space-faring needs. From figuring out your deltaV to leave the atmosphere, to planning orbital maneuvers for your little green people. Go ahead and fulfill your dreams of becoming an astronaut today!
            
            <br><br>Disclaimer: Space not included.
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="newPanel('/panels/workshop.panel.ejs', $event)">
       Back
      </md-button>
      <md-button ng-click="hide()">
        Install
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>