<md-dialog aria-label="Basic Physics Module"  ng-cloak ng-cloak ng-controller="DialogController as dialogController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Basic Physics Functions</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Basic Physics Functionality</h2>
        <p>
          Use this set of exciting functions for your modular calculator to make your day-to-day physics tasks that much simpler! A few simple click and you can solve complex equations worthy of hours on a traditional calculator. Go ahead, give it a try!
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="newPanel('/panels/workshop.panel.ejs', $event)">
       Back
      </md-button>
      <md-button ng-click="hide()">
        Install
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>