<md-dialog aria-label="Scientific Calculator Extension"  ng-cloak ng-cloak ng-controller="DialogController as dialogController">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Scientific Calculator Functionality</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>The new Ti-Ultra-Super-Mega-Calculator!</h2>
        <p>
          Are your fingers cramping up from all that button mashing on your decrepit graphing calculator? Well fear no more! The new Scientific Calculator Addon for the worlds leading online modular calculator* is now available... Absolutely free! Sieze the full power of tangents and science! Get your addon today!
            
        <br><br>*According to survey done on APC staff
        </p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="newPanel('/panels/workshop.panel.ejs', $event)">
       Back
      </md-button>
      <md-button ng-click="hide()">
        Install
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>